@media screen and (min-width: 780px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 20%;

    }
    .card {

        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(6,auto);
        gap: 10px 10px;
    }

}

body {
    overflow: hidden;
}

/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto auto;*/
/*    grid-template-rows: repeat(2,auto);*/
/*    gap: 15%;*/
/*}*/

.container{
    display: grid;
    grid-template-columns:  20px auto 20px;
    grid-template-rows: repeat(2,auto);

    background:  url("./images/bg-pattern.svg") no-repeat;
}

.card {

    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(6,auto);
    gap: 10px 10px;
}

.card{
    grid-column-start: 1;
    grid-row-start: 2;
}
/*body {*/
/*    background:  url("./images/bg-pattern.svg") no-repeat center;*/


/*}*/

/*.container > div:nth-child(odd){*/
/*    background: grey;*/
/*}*/

/*.header > img {*/

/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/

/*}*/

/*.header {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3,auto);*/
/*    grid-template-rows: 1fr;*/

/*}*/

/*.header > p {*/
/*    grid-column-start: 2;*/
/*    */
/*    text-align: center;*/
/*    align-content: center;*/
/*    justify-content: center;*/

/*}*/

.header {
    grid-column-start: 2;
    grid-row-start: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px;
    background: url("./images/pattern-circles.svg") no-repeat center;

}

p:nth-child(1) {

    font-size: 1.5em;
    margin: 0;
}

.header > p {
    margin: 5px;
}

.h-article {
    color: grey;
}


.page-views{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
}
/*.slider{*/
/*    grid-column-start: 2;*/
/*    grid-row-start: 3;*/
/*}*/
.price{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 3;
}
.billing{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 4;
}
.information{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 5;
}

.card {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: lightblue;
    border-radius: 10px;
}

label input {
    position: absolute;
    visibility: hidden;
}

li {
    list-style-image: url("./images/icon-check.svg");
}


/*button {*/
/*    color: white;*/
/*    background-color: #000;*/
/*    border-radius: 0.5rem;*/
/*    padding: 1em 2em;*/
/*}*/

/*[aria-pressed="true"] {*/
/*    box-shadow: inset 0 0 0 0.15rem #000,*/
/*    inset 0.25em 0.25em 0 #fff;*/
/*}*/

/*[aria-pressed] {*/
/*    position: relative;*/
/*    top: -0.25rem;*/
/*    left: -0.25rem;*/
/*    box-shadow: 0.125em 0.125em 0 #fff,*/
/*    0.25em 0.25em #000;*/
/*}*/


.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: lightgrey;
    border-radius: 1em;
    border: black solid;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 1em;
    background-color: whitesmoke;
    top: 0.5px;
    left: 0.5px;
    transition: all 0.5s;


}
.toggle:after:hover {
    background-color: black;
}

.checkbox:checked + .toggle {
    background-color: lawngreen;
}

.checkbox:checked + .toggle:after {
    left: 25px;
}

.checkbox {
    display: none;
}
