body {
    font-family: Calibri;

}

.container {
    background:  url("./images/bg-pattern.svg") no-repeat ;
}

@media screen and (min-width: 360px) and (max-width: 760px) {
    .container {
    display: flex;
        flex-direction: column;

        width: 100%;
        /*display: grid;*/
        /*grid-template-columns:  20px auto 20px;*/
        /*grid-template-rows: repeat(2,auto);*/

    }

    .card {

        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(5,auto);
        gap: 10px 10px;
        z-index: 1;
    }



    .bottom{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        border-top: solid black 1px;
    }

    .top{
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 1;

    }

    .price{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-row-start: 3;
    }


}

@media (min-width: 1300px) {
    .container {
        background-size: contain;
    }
}



@media screen and (min-width: 780px) {
    .container {
        background:  url("./images/bg-pattern.svg") no-repeat right top;
        /*position: relative;*/
        display: grid;
        grid-template-columns: repeat(3, auto) ;
        grid-template-rows: repeat(2,auto);
        /*column-gap: 20%;*/

    }
    .card {
        z-index: +1;
        display: grid;
        grid-template-rows: 2fr 1fr;

    }

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .bottom{

        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        border-top: solid black 1px;
    }

    .billing{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;

    }
    #views {

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }

    #total-views{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
    }

    #new-price{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        justify-self: center;
        align-self: center;
    }



}

body {
    overflow: hidden;
}



img {
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;


}



.card{

    grid-column-start: 1;
    grid-row-start: 2;
    flex-shrink: 0;
}


.header {
    grid-column-start: 2;
    grid-row-start: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 300px;
    background: url("./images/pattern-circles.svg") no-repeat center;

}

p:nth-child(1) {

    font-size: 1.5em;
    margin: 0;
}

.header > p {
    margin: 5px;
}

.h-article {
    color: grey;
}

/*.price{*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    grid-column-start: 1;*/
/*    grid-row-start: 3;*/
/*}*/


.billing{
    font-size: 1em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.billing > span {
    font-size: 0.9em;
    margin: 1px;
}

.card {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: lightblue;
    border-radius: 10px;
}

label input {
    position: absolute;
    visibility: hidden;
}

li {
    list-style-image: url("./images/icon-check.svg");
}



.toggle {

    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: lightgrey;
    border-radius: 25px;
    border: black solid;

}

.toggle:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background-color: whitesmoke;
    top: 2px;
    left: 1px;
    transition: all 0.5s;


}
.toggle:hover:after {
    background-color: black;
}


.checkbox:checked + .toggle:after {
    left: 25px;
}

.checkbox {
    display: none;
}

.toggle-container {
    margin: 5px;
}


#trial {
    overflow: hidden;
    background-image: linear-gradient(270deg, #FFFFFF, darkgrey);
    position: relative;
    width: 150px;
    height: 4em;
    /*box-shadow: black inset 1px 1px;*/
    color: black;
    border-radius: 2em;
    border: solid black;


}

#trial::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

#trial::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

/*#trial:hover {*/


/*    cursor: pointer;*/
/*}*/

#trial:hover::before, #trial:hover::after {
    transform: translateX(300px) skewX(-15deg);
    transition: 0.7s;
}

/*#trial:after {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    top: 18px;*/
/*    left: 30px;*/
/*    content: '';*/
/*    background: white;*/
/*    width: 90px;*/
/*    height: 1em;*/

/*    box-shadow: white 1px 1px 10px inset;*/

/*    opacity: 0%;*/
/*    overflow: hidden;*/
/*    !*transform: rotate(45deg);*!*/
/*}*/

/*#trial:hover:after {*/
/*    overflow: hidden;*/
/*    width: 0;*/
/*    opacity: 70%;*/
/*    left: 80%;*/
/*    transition: all 1s ;*/
/*}*/


/*input[type="range"] {*/

/*    border-radius: 50%;*/
/*    width: 500px;*/
/*}*/

/*firefox slider*/
#views {


    --track-Background: #FFFFFF;
    background: white;
    border: transparent;
    margin: 20px;
    border-radius: 6px;
    height: 8px;


}


/*#views:-moz-focusring {*/
/*    outline: 1px solid white;*/
/*    outline-offset: -1px;*/
/*}*/




/*#views::-moz-range-track {*/

/*    height: 10px;*/
/*    background-color: var(--track-Background);*/

/*    border-radius: 3px;*/
/*}*/





#views::-moz-range-thumb {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("./images/icon-slider.svg") no-repeat center aquamarine;
    color: whitesmoke;

}

#new-price {
    font-size: 1.5em;
}



#views {
    display: block;
}